<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/_layout}">

<head>
    <title>Lista de Motos</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-bold">Motos Cadastradas</h2>
            <a href="/motos/new" class="btn btn-primary">Adicionar Nova Moto</a>
        </div>

        <div th:if="${message}" class="alert alert-success shadow-lg mb-4 transition-opacity duration-500 ease-out">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span th:text="${message}"></span>
            </div>
        </div>
        <div th:if="${error}" class="alert alert-error shadow-lg mb-4 transition-opacity duration-500 ease-out">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span th:text="${error}"></span>
            </div>
        </div>

        <div class="overflow-x-auto">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Placa</th>
                        <th>Status</th>
                        <th>Localização</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="moto : ${motos}" class="hover">
                        <td th:text="${moto.modelo}"></td>
                        <td th:text="${moto.placa}"></td>
                        <td>
                            <span th:if="${moto.ativa}" class="badge badge-success badge-outline">Ativa</span>
                            <span th:unless="${moto.ativa}" class="badge badge-warning badge-outline">Em
                                Manutenção</span>
                        </td>
                        <td th:text="${moto.localizacao != null} ? ${moto.localizacao.zona} : 'N/A'"></td>
                        <td class="space-x-2">
                            <div th:if="${moto.ativa}">
                                <a th:href="@{/motos/edit/{id}(id=${moto.id})}"
                                    class="btn btn-sm btn-warning">Editar</a>
                                <a th:if="${moto.localizacao == null}" th:href="@{/motos/{id}/associar(id=${moto.id})}"
                                    class="btn btn-sm btn-info">Associar</a>
                                <a th:if="${moto.localizacao != null}"
                                    th:href="@{/motos/{id}/desassociar(id=${moto.id})}"
                                    class="btn btn-sm btn-ghost">Desassociar</a>
                                <a sec:authorize="hasRole('ADMIN')"
                                    th:href="@{/motos/{id}/manutencao/iniciar(id=${moto.id})}"
                                    class="btn btn-sm btn-neutral">Manutenção</a>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/motos/delete/{id}(id=${moto.id})}"
                                    class="btn btn-sm btn-error">Excluir</a>
                            </div>

                            <div th:unless="${moto.ativa}">
                                <a sec:authorize="hasRole('ADMIN')"
                                    th:href="@{/motos/{id}/manutencao/finalizar(id=${moto.id})}"
                                    class="btn btn-sm btn-success">Finalizar Manutenção</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>